.error { 
	display: none; 
	padding:10px; 
	margin:0 0 5px 0;
	color: #D8000C; 
	font-size:12px;
}
.success { 
	display: none; 
	padding:10px; 
	color: #044406; 
	font-size:12px;
	background-color: #B7FBB9;
}

.error img { 
	vertical-align:top; 
}